* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-img{
  border-radius: 50px;
  width: 50px;
  height: 50px;
  
}


#nav-bar{
  display: flex;
  padding: 2rem;
  background-color: blue; 
  width: 100%;
  
}

#nav-bar li{
  list-style: none;
  padding: 2rem;
  

}
.nav-bar{
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
}



.section-works{
  align-items: center;

}

#headme{
  align-self: center;
  text-align: center;
  margin-top: 5rem;
}

.section-email{
  background-color: blue;
  padding: 3rem;
}

input[type="email"]{
  width: 10rem;
  height: 2rem;
}
#submit{
  width: 5rem;
  height: 2rem;
  background-color: green;
  border: 1px solid green;

}

.section-email h2{
  text-align:center;
  margin-top: 5rem;
}
.section-email #form{
  text-align:center;
  margin-top: 1.2rem;
  margin-bottom: 5rem
}

#header{
  display: flex;
}

.headed h1{
  margin-top: 5rem;
  text-align:center;
  justify-content: center;

}

#nav-bar li a{
  color: white;
  text-decoration: none;

}

footer{
  background-color: blueviolet;

}
footer p{
  text-align: center;
}
footer li{
  list-style: none;

}
footer li a{
  text-decoration: none;
  
}
.footer-content a{
  color: white;

}

.move-section{
  
}
.move-section a{
  color: white;
  float: left;
 padding: 3px;

}